src/conf/xml-resources/web-service-references/OrdenWebService/wsdl/localhost_8080/OrdenWebService/OrdenWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="OrdenWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/OrdenWebService/OrdenWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="mostrarOrdenPorId">
<part name="parameters" element="tns:mostrarOrdenPorId"/>
</message>
<message name="mostrarOrdenPorIdResponse">
<part name="parameters" element="tns:mostrarOrdenPorIdResponse"/>
</message>
<message name="actualizarOrden">
<part name="parameters" element="tns:actualizarOrden"/>
</message>
<message name="actualizarOrdenResponse">
<part name="parameters" element="tns:actualizarOrdenResponse"/>
</message>
<message name="agregarOrden">
<part name="parameters" element="tns:agregarOrden"/>
</message>
<message name="agregarOrdenResponse">
<part name="parameters" element="tns:agregarOrdenResponse"/>
</message>
<message name="eliminarOrden">
<part name="parameters" element="tns:eliminarOrden"/>
</message>
<message name="eliminarOrdenResponse">
<part name="parameters" element="tns:eliminarOrdenResponse"/>
</message>
<message name="mostrarOrden">
<part name="parameters" element="tns:mostrarOrden"/>
</message>
<message name="mostrarOrdenResponse">
<part name="parameters" element="tns:mostrarOrdenResponse"/>
</message>
<message name="mostrarCliente">
<part name="parameters" element="tns:mostrarCliente"/>
</message>
<message name="mostrarClienteResponse">
<part name="parameters" element="tns:mostrarClienteResponse"/>
</message>
<message name="mostrarProducto">
<part name="parameters" element="tns:mostrarProducto"/>
</message>
<message name="mostrarProductoResponse">
<part name="parameters" element="tns:mostrarProductoResponse"/>
</message>
<portType name="OrdenWebService">
<operation name="mostrarOrdenPorId">
<input wsam:Action="http://ws/OrdenWebService/mostrarOrdenPorIdRequest" message="tns:mostrarOrdenPorId"/>
<output wsam:Action="http://ws/OrdenWebService/mostrarOrdenPorIdResponse" message="tns:mostrarOrdenPorIdResponse"/>
</operation>
<operation name="actualizarOrden">
<input wsam:Action="http://ws/OrdenWebService/actualizarOrdenRequest" message="tns:actualizarOrden"/>
<output wsam:Action="http://ws/OrdenWebService/actualizarOrdenResponse" message="tns:actualizarOrdenResponse"/>
</operation>
<operation name="agregarOrden">
<input wsam:Action="http://ws/OrdenWebService/agregarOrdenRequest" message="tns:agregarOrden"/>
<output wsam:Action="http://ws/OrdenWebService/agregarOrdenResponse" message="tns:agregarOrdenResponse"/>
</operation>
<operation name="eliminarOrden">
<input wsam:Action="http://ws/OrdenWebService/eliminarOrdenRequest" message="tns:eliminarOrden"/>
<output wsam:Action="http://ws/OrdenWebService/eliminarOrdenResponse" message="tns:eliminarOrdenResponse"/>
</operation>
<operation name="mostrarOrden">
<input wsam:Action="http://ws/OrdenWebService/mostrarOrdenRequest" message="tns:mostrarOrden"/>
<output wsam:Action="http://ws/OrdenWebService/mostrarOrdenResponse" message="tns:mostrarOrdenResponse"/>
</operation>
<operation name="mostrarCliente">
<input wsam:Action="http://ws/OrdenWebService/mostrarClienteRequest" message="tns:mostrarCliente"/>
<output wsam:Action="http://ws/OrdenWebService/mostrarClienteResponse" message="tns:mostrarClienteResponse"/>
</operation>
<operation name="mostrarProducto">
<input wsam:Action="http://ws/OrdenWebService/mostrarProductoRequest" message="tns:mostrarProducto"/>
<output wsam:Action="http://ws/OrdenWebService/mostrarProductoResponse" message="tns:mostrarProductoResponse"/>
</operation>
</portType>
<binding name="OrdenWebServicePortBinding" type="tns:OrdenWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="mostrarOrdenPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OrdenWebService">
<port name="OrdenWebServicePort" binding="tns:OrdenWebServicePortBinding">
<soap:address location="http://localhost:8080/OrdenWebService/OrdenWebService"/>
</port>
</service>
</definitions>